#aboutMe{
    position: relative;
    padding-left:5%; padding-right: 5%; padding-bottom: 5%;
    background-color: black;
    height: 30%;
    border-bottom: white solid 0.3vh;
}
.aboutMeContainer{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-right: 15%;
    justify-content: center;
    position:relative;
    transition: ease-in-out;
    opacity: 0;
}
.aboutMeText {
    margin-top: 0;
}
#aboutMeTop {
    border-bottom: 3px white solid; 
    background-color: black;
    border-top: 3px white solid;
    margin-top: 0%;
    height:20vh;
}
.animatedTyping {    
    font-family: 'Roboto Mono', monospace;
    color:#ffff;
    font-size: 3vh;
}
#aboutMeHey {
    font-family: 'Roboto Mono', monospace;
    color:#ED4A3D;
    font-size: 2vw;
    position:relative;
}
#aboutMeHeader {
    color:white;
    font-size: 3vw;

}

#biography {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2vw;
    color: white;
    padding-bottom: 3.5vw;
    border-bottom: white solid 1px; 
}

img.portrait{
    object-fit: cover;
    max-height: 150px;
    max-width: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 3px solid #ED4A3D;
}

.visibleAboutMe {
    animation: fadeAboutMe 1s;
    opacity: 1;

}

@keyframes fadeAboutMe {
    0% {opacity: 0; margin-right:50%;}
    25%{opacity: 0.25; margin-right:37.5%;}
    100%{opacity: 1;}
}

@media only screen and (max-height: 1370px ) and (orientation:portrait){
    #aboutMeTop{max-height: vh;}
    #aboutMeHey, #aboutMeHeader {
        font-size: 1.6vh;
    }
}